@page "/CadastrarArtista"
@inject ArtistaAPI artistasAPI
@inject NavigationManager navigationManager

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center" Style="background-color: #41414f">

    <MudText Class="mt-8" Typo="Typo.h4" Style="color: white">Cadastro do Artista</MudText>

    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista"
                      Variant="Variant.Outlined"
                      @bind-Value="Nome"
                      Required="true"
                      RequiredError="Campo obrigatório."
                      Style="color: white;" />

        <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista"
                      Variant="Variant.Outlined"
                      @bind-Value="Biografia"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo obrigatório."
                      Style="color: white;" />

                      <MudImage Class="mt-4" Src="@FileImage" />
        <MudFileUpload T="IBrowserFile" Accept=".jpeg" FilesChanged="UploadFile">
            <ButtonTemplate>
                <MudButton HtmlTag="label"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.PhotoCamera"
                           for="@context">
                    Foto de Perfil
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>


        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled"
                       @onclick="Voltar"
                       Color="Color.Primary"
                       Class="mr-2">
                Voltar para a lista de artistas
            </MudButton>
            <MudButton Variant="Variant.Filled"
            @onclick="Cadastrar"
                       Color="Color.Primary"
                       Class="mr-2">
                Cadastrar
            </MudButton>
            
        </div>

    </MudForm>
</MudPaper>

@code {
    private string? Nome;
    private string? Biografia;

    private string? FileImage;
    private string? FotoPerfil;

    private async Task Cadastrar()
    {
        var request = new ArtistaRequest(Nome!, Biografia!, FotoPerfil);
        await artistasAPI.AddArtistaAsync(request);
        navigationManager.NavigateTo("/Artistas");
    }

    private async Task Voltar() 	{
        navigationManager.NavigateTo("/Artistas");
    }

    private async Task UploadFile(IBrowserFile file)
    {
        try
        {
            long maxFileSize = 1024 * 1024 * 15;
            var format = "image/jpeg";
            var resizedImage = await file.RequestImageFileAsync(format, 200, 200);

            using var fileStream = resizedImage.OpenReadStream();
            using var memoryStream = new MemoryStream();
            await fileStream.CopyToAsync(memoryStream);

            var imageUpload = Convert.ToBase64String(memoryStream.ToArray());
            FileImage = $"data:{format};base64,{imageUpload}";
            FotoPerfil = imageUpload;
        }
        		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
    }
}
